<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div id="app">
    <ul>
      <li v-for="task in tasks">{{ task.task +' ' + task.assigned }}</li>
    </ul>
    <hr>
      <form v-on:submit.prevent="addTask">
        <input v-model="tasks.task" />
        <input v-model="tasks.assigned" />
        <button type="submit">Add Task</button>
      </form>

      <form v-on:submit.prevent="removeTask">
        <button type="submit">Remove Task</button>
      </form>
    </div>

  

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./main.js"></script>
</body>
</html>